.boton-principal,
.boton-volver {
  width: 230px;
  height: 36px;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.boton-principal {
  background-color: #403c7c;
  color: white;
  margin-top: 10px;
  box-shadow: 0 2px 14px rgba(64, 60, 124, 0.54);
}

.boton-principal:hover {
  background-color: #2e2963;
  transform: translateY(-2px);
}

.boton-secundario {
  background: none;
  border: none;
  margin-top: 8px; 
  font-size: 14px; 
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.boton-volver {
  width: 230px;
  background-color: #f3f4f6;
  color: #333;
  font-style: normal;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
  border: 1px solid #ccc;
  text-decoration: none;
}

.boton-volver:hover {
  background-color: #e0e0e0;
  color: #111;
  transform: translateY(-1px);
}

.nota {
  margin-top: 6px; 
  font-size: 14px; 
  color: #777;
  text-align: center;
  white-space: nowrap;
}

