/* Error: Expected ".
 *    ,
 * 42 |     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http:
 *    |                                                                                                   ^
 *    '
 *   assets\sass\usuarios.scss 42:99  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected \".\a    \2577 \a 42 \2502      background-image: url(\"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http:\a    \2502                                                                                                    ^\a    \2575 \a   assets\\sass\\usuarios.scss 42:99  root stylesheet";
}
